# Database
DATABASE_URL=file:./db/custom.db

# NextAuth
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=https://lifelink-hewejvfek-modhurabanerjee-8651s-projects.vercel.app

# SMTP (Email for OTP) - SendGrid
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=your_sendgrid_api_key_here
SMTP_FROM="Your App Name <your_email@example.com>"

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GEMINI_API_KEY=your_gemini_api_key_here
